html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: none;
}

/* -------- */

* {
  box-sizing: border-box;
}

.white {
  color: white;
}

.red {
  color: #aa0601;
}



.background {
  background-color: #aa0601;
}

.container {
  width: 1296px;
  margin: 0 auto;
}

.p-top-60 {
  padding-top: 60px;
}

.p-bottom-30 {
  padding-bottom: 30px;
}

.p-bottom-70{
  padding-bottom: 70px;
 }

.padding-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}



.m-right-8 {
  margin-right: 8px;
}

.m-right-20 {
  margin-right: 20px;
}



.m-right-50 {
  margin-right: 50px;
}


.m-top-8 {
  margin-top: 8px;
}

.m-top-16 {
  margin-top: 16px;
}

.m-top-30 {
  margin-top: 30px;
}



.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-center {
  justify-content: center;
}

.flex-start {
  justify-content: flex-start;
  }


.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo {
  width: 80px;
  height: 100%;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-item {
  margin-right: 64px;
}

.nav-item:last-child {
  margin-right: 0px;
}

.nav-item a {
  text-decoration: none;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  
}

.nav-item a:hover {
  color: white;
  border-bottom: 5px solid white;
}




.white {
  color: white;
}


.red {
  color: #aa0601;
}



.t-list {
  width: 1296px;
  margin: 0 auto;
}

.t-item {
  width: 33.333%;
  border: 1px solid #dcdcdc;
  text-align: center;
}

.t-border {
  border-bottom: 8px solid #AA0601;
}

.t-item a {
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 30px;
  line-height: 50px;
}

.t-title {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
}

.t-subtitle {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
}



.banners .banner1,
.banners .banner2 {
  width: 100%;
  height: 296px;
}


.banner1 {
  background-size: cover;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-1.png?raw=true);
}

.banner2 {
  background-size: cover;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-2.png?raw=true);
}

.padding-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}


.padding-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.p-top-60 {
  padding-top: 60px;
}

.p-bottom-30 {
  padding-bottom: 30px;
}


.m-top-30 {
  margin-top: 30px;
}

.m-bottom-80 {
  margin-bottom: 80px;
}


.m-right-8 {
  margin-right: 8px;
}


.m-right-20 {
  margin-right: 20px;
}

.m-right-50 {
  margin-right: 50px;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}


.space-between {
  justify-content: space-between;
}

.flex-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}





.pic {
  width: 24%;
}

.pic img {
  width: 306px;
}

.text {
  font-size: 24px;
  line-height: 36px;
  font-family: "Roboto";
}

.text-400 {
  font-weight: 400;
}

.text-500 {
  font-weight: 500;
}

.box {
  border-radius: 4px;
  width: 24px;
  height: 24px;
}

.page-number {
  display: flex;
  justify-content: center;
  align-items: center;
}


.page-number li {
  padding: 10px 15px;
  border: 1px solid #555555;
  color: #555555;
  font-family: "Roboto";
  line-height: 27px;
  font-size: 18px;
}



.page-number a:hover {
   font-style:oblique;
}

.page-active {
  background-color: black;
}

.page-active a {
  color: white;
}


.dark-b {
  background-color: #5f3e2d;
}

.light-b {
  background-color: #b75929;
}







.footer-nav a {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 24px;
  font-size: 16px;
  color: white;
}

.s-icon li img {
  width: 50px;
  height: 50px;
}

.s-icon-big li img {
  width: 500px;
  height: 500px;
}


.s-icon li {
  margin-right: 32px;
}

.s-icon li:last-child {
  margin-right: 0px;
}

footer .phone,
footer .email {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 55px;
  font-size: 35px;
  color: white;
}

.material-symbols-outlined {
  font-size: 36px;
  color: white;
}

.copywrite {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 24px;
}

.terms {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 13px;
  line-height: 20px;
}

.p-footer {
  display: none;
}

/* tablet */
@media (max-width: 992px) {
  .container {
    width: 696px;
  }

   .t-list {
    width: 100%;
  }

  .banner1 {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-1.png?raw=true);
  }

  .banner2 {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-2.png?raw=true);
  }

  .pic {
    width: 48%;
  }

  .pic img {
    width: 336px;
  }

    
  .s-icon li img {
    width: 40px;
    height: 40px;
  }

  .s-icon li {
    margin-right: 16px;
  }

  .s-icon li:last-child {
    margin-right: 0px;
  }

  .p-footer {
    display: none;
  }
}

/* phone */
@media (max-width: 767px) {
  nav {
    display: block;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .container {
    width: 100%;
  }

  
  
  
  .logo {
    padding: 16px 0;
    margin: 0 15px;
  }

  .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .nav-item {
    border: solid white 1px;
    text-align: center;
    margin-right: 0px;
    padding: 12px;
    width: 50%;    
  }

  
  .t-list {
    width: 100%;
  }

  .t-item a {
    font-size: 16px;
    line-height: 24px;
  }

  .pic {
    width: 90%;
    margin: 0 auto 24px auto;
  }

  .pic img {
    width: 100%;
  }
  
  

  footer {
    padding-left: 5%;
    padding-right: 5%;
  }

  .s-icon {
    margin-left: auto;
  }

  .s-icon li img {
    width: 24px;
    height: 24px;
  }

  .s-icon li {
    margin-right: 8px;
  }

  .s-icon li:last-child {
    margin-right: 0px;
  }

  footer .phone,
  footer .email {
    font-family: "Noto Sans TC", sans-serif;
    line-height: 24px;
    font-size: 16px;
    color: white;
  }

  .material-symbols-outlined {
    font-size: 18px;
  }

  footer .container {
    display: none;
  }

  .p-footer {
    display: block;
  }
}
